@{
    var searchPlaceholder = Convert.ToString(ViewData["SearchPlaceholder"]);
    if (String.IsNullOrWhiteSpace(searchPlaceholder))
    {
        searchPlaceholder = "Buscar";
    }
}

<div class="toolbar__search-wrap">
    <input type="text" placeholder="@searchPlaceholder" id="busqueda" onkeyup="buscar()" class="form-control mb-3 toolbar__search search-input">
</div>
<script src="~/Scripts/Busqueda.js"></script>
