<div class="row">
    <div class="col-md-12">
        <div class="col-12">
            <input type="text" placeholder="Búsqueda" id="busqueda" onkeyup="buscar()" class="form-control mb-3">
        </div>
    </div>
</div>
<script src="~/Scripts/Busqueda.js"></script>