<div class="row">
    <div class="col-md-12 mx-auto form-label-group p-0">
        <input type="text" placeholder="Búsqueda" id="busqueda" onkeyup="buscar()" class="form-control mb-3 w-75">
    </div>
</div>
<script src="~/Scripts/Busqueda.js"></script>