
<div class="modal fade" id="modal-custom-confirmation" tabindex="-1" role="dialog" aria-labelledby="aceptar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="font-weight-normal" id="modal-help-text"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ok" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="cancel" data-dismiss="modal">Si</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
<script>

</script>