@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1 class="display-4">INGENIERÍA JCP</h1>
    <p class="lead">Somos una empresa dedicada a los sistemas de seguridad, sistemas de gestión, software a medida, sistema de monitoreo satelital y proyectos de ingeniería en general. Contamos con ingenieros y técnicos de gran calidad con el fin de garantizar un servicio eficiente y manejable para nuestros clientes.</p>
    <hr class="my-4">
    <p>Para mas informacion contactanos</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Contactanos</a>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3 ">
            <h5 class="card-header">Mision</h5>
            <div class="card-body">
                <p class="card-text ">Destacamos la excelencia ante todo, contribuyendo en el desarrollo de proyectos sustentables para cada uno de nuestros clientes a través de un equipo de ingenieros con integridad y compromiso que entregan un sello de calidad en el servicio.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3 ">
        <div class="card">
            <h5 class="card-header">Vision</h5>
            <div class="card-body">
                <p class="card-text">Ser la primera alternativa para cada una de las organizaciones que requieran servicios de ingeniería a nivel nacional.</p>
            </div>
        </div>
    </div>

</div>
<div class="card my-3 ">
    <div class="card-body">
        <h5 class="text-center">Julio Castro Parra</h5>
        <p class="text-center text-muted">Gerente de proyectos </p>
        <hr />
        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Correo</h5>
                    <div class="card-body">
                        <a href="mailto:jcastro@ingenieriajcp.cl">jcastro@ingenieriajcp.cl</a>
                    </div>
                </div>
                <div class="card mt-2">
                    <h5 class="card-header">Soporte</h5>
                    <div class="card-body">
                        <a href="mailto:ventas@ingenieriajcp.cl">ventas@ingenieriajcp.cl</a>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Direccion</h5>
                    <div class="card-body">
                        <label> Camino Zapallar km 4.3 </label>
                    </div>
                </div>
                <div class="card mt-2">
                    <h5 class="card-header">Numero</h5>
                    <div class="card-body">
                        <label> +56 75 2553954 | +56976665757 </label>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
