@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-center">INGENIERÍA JCP</h5>
                <p class="card-text ">Somos una empresa dedicada a los sistemas de seguridad, sistemas de gestión, software a medida, sistema de monitoreo satelital y proyectos de ingeniería en general. Contamos con ingenieros y técnicos de gran calidad con el fin de garantizar un servicio eficiente y manejable para nuestros clientes.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">

            <div class="card-body">
                <h5 class="text-center">Julio Castro Parra</h5>
                <p class="text-center text-muted">Gerente de proyectos </p>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div style="background:#007bff" class="card">
                            <div class="card-body">
                                <p class="card-title text-center">Correo:</p>
                                <a href="mailto:jcastro@ingenieriajcp.cl">jcastro@ingenieriajcp.cl</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <p> Longitudinal Sur km 193  |   Curico ∙ Chile </p>
                        <abbr title="Phone"></abbr>
                        +56 75 2553954 | +56976665757<br />
                        <a href="https://www.facebook.com/INGENIERIAJCP/"> www.facebook.com/INGENIERIAJCP/</a>

                    </div>
                </div>



                <strong>Soporte:</strong>   <a href="mailto:ventas@ingenieriajcp.cl">ventas@ingenieriajcp.cl</a><br />
                <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
            </div>


        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-center">Mision</h5>
                <p class="card-text ">Destacamos la excelencia ante todo, contribuyendo en el desarrollo de proyectos sustentables para cada uno de nuestros clientes a través de un equipo de ingenieros con integridad y compromiso que entregan un sello de calidad en el servicio.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">Vision</h5>
                <p class="card-text">Ser la primera alternativa para cada una de las organizaciones que requieran servicios de ingeniería a nivel nacional.</p>
            </div>
        </div>
    </div>

</div>
