@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Julio Castro Parra<br />
    Gerente de proyectos<br />
    <a href="mailto:jcastro@ingenieriajcp.cl">jcastro@ingenieriajcp.cl</a> | <a href="http://ingenieriajcp.cl/">www.ingenieriajcp.cl</a> <br />
    Longitudinal Sur km 193  |   Curico ∙ Chile <br />
    <abbr title="Phone"></abbr>
    +56 75 2553954 | +56976665757<br />
    <a href="https://www.facebook.com/INGENIERIAJCP/"> www.facebook.com/INGENIERIAJCP/</a>
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:ventas@ingenieriajcp.cl">ventas@ingenieriajcp.cl</a><br />
    <!--<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>-->
</address>
