@model IEnumerable<ControlPersonalAppWeb.Datos>

@{
}

<h1 class="display-4 text-center">Menu principal</h1>
<hr />
<div class="row menuStock">
    <div class="col-lg-3 col-6">
        <div class="card" onclick="to('/Stock')">
            <h5 class="card-title text-center my-3">Sistema gestion de bodega</h5>
            <img src="~/Images/inv.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Gestiona tus elementos en la bodega.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="card" onclick="to('/AplicacionDeProgramas')">
            <h5 class="card-title text-center my-3">Aplicaciones de programa</h5>
            <img src="~/Images/progr.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Gestiona la aplicacion de progrmamas.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6" onclick="to('/ControlInventarios')">
        <div class="card">
            <h5 class="card-title text-center my-3">Control de inventario</h5>
            <img src="~/Images/gest.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Controla tus elementos en el inventario.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6" onclick="to('/Comentarios')">
        <div class="card">
            <h5 class="card-title text-center my-3">Comentarios</h5>
            <img src="~/Images/msg.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Revisa comentarios de otros trabajadores.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="card" onclick="to('/Ingresos')">
            <h5 class="card-title text-center my-3">Ingresos</h5>
            <img src="~/Images/ingreso.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Genera un ingreso de mas productos.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="card" onclick="to('/Notificaciones')">
            <h5 class="card-title text-center my-3">Notificaciones</h5>
            <img src="~/Images/not.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Revisa solicitudes de tus trabajadores.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="card" onclick="to('/Productos')">
            <h5 class="card-title text-center my-3">Productos</h5>
            <img src="~/Images/box.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Gestiona los productos de la empresa.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="card" onclick="to('/Empresa')">
            <h5 class="card-title text-center my-3">Proveedores</h5>
            <img src="~/Images/prov.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Gestiona tus proveedores de insumos.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="card" onclick="to('/Solicitudes')">
            <h5 class="card-title text-center my-3">Solucitudes</h5>
            <img src="~/Images/gest.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Autoriza/desautoriza solicitudes.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="card" onclick="to('/Solicitudes')">
            <h5 class="card-title text-center my-3">Solicitudes de compras</h5>
            <img src="~/Images/shopcart.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Gestiona tus solicitudes de compra.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="card" onclick="to('/Tipos')">
            <h5 class="card-title text-center my-3">Tipos de productos</h5>
            <img src="~/Images/type.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Gestiona tus tipos de productos.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="card" onclick="to('/Unidades')">
            <h5 class="card-title text-center my-3">Unidades</h5>
            <img src="~/Images/rler.svg" width="128" alt="...">
            <div class="card-body2">
                <p class="card-text">Gestiona tus unidades de medida.</p>
            </div>
        </div>
    </div>


</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $('.card').on("mouseenter",function () {
        this.classList.add('shadow-drop-2-center');
    })
    $('.card').on("mouseleave", function () {
        this.classList.remove('shadow-drop-2-center');
    })
    function to(str) {
        location.href = location.origin + str;
    }

</script>

